<main class="user-home-layout">
  <section class="user-info-section">
    <h2>Bem-vindo!</h2>
    <p>Status do seu currículo:</p>
    <div class="progress-checkpoints">
  <p-progressBar [value]="progressValue" [showValue]="false"></p-progressBar>
      <div class="checkpoints">
        <div class="checkpoint"
            [class.complete]="isComplete(1)"
            [class.in-progress]="isInProgress(1)">
          Enviado
          <span *ngIf="isInProgress(1)" class="checkpoint-spinner"></span>
        </div>
        <div class="checkpoint"
            [class.complete]="isComplete(2)"
            [class.in-progress]="isInProgress(2)">
          Análise
          <span *ngIf="isInProgress(2)" class="checkpoint-spinner"></span>
        </div>
        <div class="checkpoint"
            [class.complete]="isComplete(3)">
          Resultado
        </div>
      </div>
    </div>
    <div class="step-description">
      <div class="step-description">
        <p>{{ statusMessage || 'Você ainda não cadastrou seu currículo.' }}</p>
      </div>
    </div>
    <button
  class="curriculo-btn"
  *ngIf="curriculoStatus === null"
  (click)="cadastrar.emit()"
>Cadastrar Currículo</button>
<button
  class="curriculo-btn"
  *ngIf="curriculoStatus === 'enviado' || curriculoStatus === 'analise'"
  (click)="editar.emit()"
>Editar Currículo</button>
<button
  class="curriculo-btn"
  *ngIf="curriculoStatus === 'aprovado' || curriculoStatus === 'reprovado'"
  disabled
  style="margin-top: 1.5rem;"
>
  Editar Currículo
</button>
  </section>
</main>
